<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Servo Control</title>
        <link rel="stylesheet" href='../static/style.css'/>
    </head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/index">Config</a>
    </div>
    <div class="main">
        <h1>Walking Lamp Control</h1>
        <div class="button-container"><button class="button">START</button></div>
        <div class="button-container"><button class="button">STOP</button></div>
    </div>
</body>
</html>
