<!DOCTYPE html>
<html>
    <head>
        <title>Servo Control</title>
        <link rel="stylesheet" href='../static/style.css'/>
    </head>
    <body>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/index">Config</a>
        </div>
        <main>
            <section class="Servo Amplifier Controller(RS485)">
                <div class="rs485">
                    <h1>RS485 R/W Status</h1>
                    <div class="form-group">
                        <label for="rs485_send">RS-485 Send:</label>
                        <input type="text" id="rs485_send" value="{{ RS485_send }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="rs485_receive">RS-485 Receive:</label>
                        <input type="text" id="rs485_receive" value="{{ RS485_read }}" readonly>
                    </div>
                </div>
                <div class="commands">
                    <h2>Commands</h2>
                    <!--
                    <p>PWM RED LED Ctrl ==> <a href="/ledRed/on" class="button">TURN ON</a> <a href="/ledRed/off" class="button">TURN OFF</a></p>
                    <p>GPIO YLW LED Ctrl ==> <a href="/ledYlw/on" class="button">TURN ON</a> <a href="/ledYlw/off" class="button">TURN OFF</a></p>
                    <p>GPIO GRN LED Ctrl ==> <a href="/ledGrn/on" class="button">TURN ON</a> <a href="/ledGrn/off" class="button">TURN OFF</a></p>   
                    -->
                    <p><a href="/RS485/servoOn" class="{{'button-on' if SERVO_ON else 'button-off'}}">SERVO ON</a></p>
                    <p><a href="/RS485/servoOff" class="{{'button-on' if SERVO_OFF else 'button-off'}}">SERVO OFF</a></p>
                    <p><a href="/recieveMsg/getMsg" class="button-container">GET STATE VALUE</a></p>
                    <p><a href="/recieveMsg/getIOOutput" class="button-container">GET IO OUTPUT STATE VALUE</a></p>
                    <p><a href="/recieveMsg/setPoint_1" class="{{'button-on' if SET_POINT_1 else 'button-off'}}">SET POINT 1</a></p>
                    <p><a href="/recieveMsg/setPoint_2" class="{{'button-on' if SET_POINT_2 else 'button-off'}}">SET POINT 2</a></p>
                    <p><a href="/recieveMsg/Home" class="{{'button-on' if SET_POINT_HOME else 'button-off'}}">HOME</a></p>
                    <p><a href="/recieveMsg/motionStart" class="button-container">MOTION START</a></p>
                    <p><a href="/recieveMsg/motionPause" class="button-container">MOTION PAUSE</a></p>

                </div>
            </section>
            <a href="/">Go Back to Home</a>
        </main>
    </body>
</html>


