<!DOCTYPE html>
<html>
    <head>
        <title>GPIO Control</title>
        <link rel="stylesheet" href='../static/style.css'/>
    </head>
    <body>
        <main>
            <section class="actuators">
                <h1>Actuators</h1>
                <div class="status">
                    <h2>Status</h2>
                    <p>RED LED ==> <span>{{ ledRed }}</span></p>
                    <p>YLW LED ==> <span>{{ ledYlw }}</span></p>
                    <p>GRN LED ==> <span>{{ ledGrn }}</span></p>
                </div>
                <div class="rs485">
                    <h1>RS485 R/W Status</h1>
                    <p>RS-485 Send ==> <span>{{ RS485_send }}</span></p>
                    <p>RS-485 Receive ==> <span>{{ RS485_read }}</span></p>
                </div>
                <div class="commands">
                    <h2>Commands</h2>
                    <p>PWM RED LED Ctrl ==> <a href="/ledRed/on" class="button">TURN ON</a> <a href="/ledRed/off" class="button">TURN OFF</a></p>
                    <p>GPIO YLW LED Ctrl ==> <a href="/ledYlw/on" class="button">TURN ON</a> <a href="/ledYlw/off" class="button">TURN OFF</a></p>
                    <p>GPIO GRN LED Ctrl ==> <a href="/ledGrn/on" class="button">TURN ON</a> <a href="/ledGrn/off" class="button">TURN OFF</a></p>
                    <p>RS-485 R/W Ctrl ==> <a href="/RS485/servoOn" class="button">SERVO ON</a></p>
                    <p>RS-485 R/W Ctrl ==> <a href="/RS485/servoOff" class="button">SERVO OFF</a></p>
                    <p>RS-485 R/W Ctrl ==> <a href="/recieveMsg/getMsg" class="button">GET STATE VALUE</a></p>
                </div>
            </section>
        </main>
    </body>
</html>
