/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Darker background */
    margin: 0;
    padding: 20px;
    color: #CCC; /* Lighter text */
}

/* Styling for the main section */
main {
    background: #1E1E1E; /* Dark background for main section */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Lighter shadow */
}

/* Actuators section styling */
.actuators h1, .actuators h2 {
    color: #1DB954; /* Spotify green for a vibrant look */
}

.status p, .rs485 p, .commands p {
    background: #333; /* Darker background for sections */
    color: #DDD; /* Lighter text */
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid #1DB954; /* Use the vibrant green here as well */
    margin: 10px 0;
}

.status span, .rs485 span {
    font-weight: bold;
}

/* Button styling */
.buttons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust button width as necessary */
    gap: 10px;
    padding: 20px 0;
}

.button-on, .button-off {
    width: 100%; /* Ensure full width */
    text-align: center; /* Center text */
    box-sizing: border-box; /* Include padding and border in element's width and height */
    padding: 10px; /* Adjust padding as necessary */
    display: inline-block; /* Display inline for side-by-side alignment */
}

.button:hover {
    background-color: #e1e1e1; /* Light hover effect */
    color: #000; /* Dark text on hover */
}
