/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Styling for the main section */
main {
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Actuators section styling */
.actuators h1, .actuators h2 {
    color: #007bff;
}

.status p, .rs485 p, .commands p {
    background: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid #007bff;
    margin: 10px 0;
}

.status span, .rs485 span {
    font-weight: bold;
}

/* Button styling */
.button-on {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #fafa35;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-off {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #303845;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #3634c2;
}
